<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyScoot</title>
</head>
<body>
    <h1>Homepage</h1>

    <button onclick="window.location.href='updateEmail.html'">Emailadresse aktualisieren</button> 
    <button onclick="window.location.href='updatePassword.html'">Passwort aktualisieren</button>    
    <button onclick="window.location.href='deleteAccount.html'">Account löschen</button>   
 
</body>
</html>
