<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passwort aktualisieren</title>
</head>
<body>
    <h1>Passwort aktualisieren</h1>
    <form action="/api/accounts/updatePassword" method="put">
        Email: <input name="email" required><br><br>
        Neues Passwort: <input type="password" name="newPassword" required><br><br>
        <button type="submit">Passwort aktualisierens</button>
    </form>
</body>
</html>
