<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
</head>
<body>
    <h1>Update Password</h1>
    <form action="/api/accounts/updatePassword" method="put">
        Email: <input type="email" name="email" required><br>
        New Password: <input type="password" name="newPassword" required><br>
        <button type="submit">Update Password</button>
    </form>
</body>
</html>
